!!!5
%html
  %head
    %title SMeSser
    %link(rel='stylesheet' href='/application.css')

  %body
    This is to be a simple, multi-paged app, first for selecting your provider,
    then for logging in (and checking) that provider, and finally, for sending
    SMSs. It can use remote AddressBooks, if you configure one (initially just
    Google Contacts.)
  
  %script(src='/application.js')
